force-app/main/default/flows/CaseParticipantFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>ParticipantCollection</name>
        <label>ParticipantCollection</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>ParticipantCollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ParticipantInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Part</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ParticipantInstanceAssignment</name>
        <label>ParticipantInstanceAssignment</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ParticipantInstance.ParticipantId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part.Contact.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParticipantInstance.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParticipantInstance.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParticipantInstance.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part.Roles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParticipantCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Case_Homelessness</name>
        <label>Is Case Homelessness?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Homelessness</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Homelessness</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMemberRoles</targetReference>
            </connector>
            <label>Homelessness</label>
        </rules>
    </decisions>
    <decisions>
        <name>NullCheck</name>
        <label>NullCheck</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMemberRoles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Part</targetReference>
            </connector>
            <label>RecordsFound</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CaseParticipantFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseParticipantFlow</label>
    <loops>
        <name>Part</name>
        <label>Part</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>GetMemberRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ParticipantInstanceAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateParticipantRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateParticipantRecords</name>
        <label>CreateParticipantRecords</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>ParticipantCollectionVariable</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetMemberRoles</name>
        <label>GetMemberRoles</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NullCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Case_Homelessness</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ParticipantCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseParticipant</objectType>
    </variables>
    <variables>
        <name>ParticipantInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseParticipant</objectType>
    </variables>
</Flow>
