force-app/main/default/flows/Create_Subsidy_Information_Record_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Account_Members</name>
        <label>Add Account Members</label>
        <locationX>264</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>AccountMembersCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_Income_loop.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Income_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddIncomeAmount</name>
        <label>AddIncomeAmount</label>
        <locationX>264</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>TotalAmmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddIncomeLoop.IncomeAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddIncomeLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Members_Collection</name>
        <label>Members Collection</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>MemberCollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Member_Record_Loop.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Member_Record_Loop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Subsidy Information Record Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Subsidy Information Record Flow</label>
    <loops>
        <name>Add_Income_loop</name>
        <label>Add Income loop</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <collectionReference>Get_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Account_Members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Income</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>AddIncomeLoop</name>
        <label>AddIncomeLoop</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <collectionReference>Get_Income</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddIncomeAmount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Subsidy_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Member_Record_Loop</name>
        <label>Get Member Record Loop</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Household_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Members_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Subsidy_Record</name>
        <label>Create Subsidy Record</label>
        <locationX>176</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>Household_Income__c</field>
            <value>
                <elementReference>TotalAmmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Subsidy_Information__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Household_Members</name>
        <label>Get Household Members</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Member_Record_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Income</name>
        <label>Get Income</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddIncomeLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PartyId</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountMembersCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PartyIncome</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records</name>
        <label>Get Records</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Income_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>MemberCollectionVariable</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Household_Members</targetReference>
        </connector>
        <object>ProgramEnrollment</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountMembersCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MemberCollectionVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalAmmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
