force-app/main/default/flows/Homelessness_Discharge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_First_Record</name>
        <label>Assign First Record</label>
        <locationX>528</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>FirstRecordName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_First_Case_Participant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discharge_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Size_Collection</name>
        <label>Get Size Collection</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>SizeOfCollection</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Case_Participants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_First_Case_Participant</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AllMembers</name>
        <choiceText>All Participants</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All Participants</stringValue>
        </value>
    </choices>
    <choices>
        <name>OneMember</name>
        <choiceText>Individual Participant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual Participant</stringValue>
        </value>
    </choices>
    <decisions>
        <name>If_Individual_Discharge</name>
        <label>If Individual Discharge</label>
        <locationX>528</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Update_Placement_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Participants Discharge</defaultConnectorLabel>
        <rules>
            <name>Only_Discharge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SizeOfCollection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Placement_Records</targetReference>
            </connector>
            <label>Only Discharge</label>
        </rules>
        <rules>
            <name>Individual_Discharge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Who_would_you_like_to_discharge</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OneMember</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Placement_Records</targetReference>
            </connector>
            <label>Individual Discharge</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CaseParticipants</name>
        <collectionReference>Get_Case_Participants</collectionReference>
        <dataType>String</dataType>
        <displayField>Participant_Name__c</displayField>
        <object>CaseParticipant</object>
        <valueField>ParticipantId</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Homelessness Discharge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Homelessness Discharge</label>
    <loops>
        <name>Get_First_Case_Participant</name>
        <label>Get First Case Participant</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Case_Participants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_First_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Discharge_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Participants</name>
        <label>Get Case Participants</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Size_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseParticipant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Open_Units</name>
        <label>Open Units</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Associated_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Resident__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstRecordName.ParticipantId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Associated_Case__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Resident__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Vacant</stringValue>
            </value>
        </inputAssignments>
        <object>Unit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Placement_Records</name>
        <label>Update Placement Records</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Copy_1_of_Open_Units</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstRecordName.ParticipantId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>Discharge_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Move_out_reason__c</field>
            <value>
                <elementReference>Please_provide_a_reason_for_discharging_the</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Discharge</stringValue>
            </value>
        </inputAssignments>
        <object>Placement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Open_Units</name>
        <label>Open Units</label>
        <locationX>528</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Update_Individual_Case_Participant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Associated_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Resident__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_a_member_to_discharge.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Associated_Case__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Resident__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Vacant</stringValue>
            </value>
        </inputAssignments>
        <object>Unit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Placement_Records</name>
        <label>Update Placement Records</label>
        <locationX>528</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Copy_2_of_Open_Units</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_a_member_to_discharge.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>Discharge_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Move_out_reason__c</field>
            <value>
                <elementReference>Please_provide_a_reason_for_discharging_the</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Discharge</stringValue>
            </value>
        </inputAssignments>
        <object>Placement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Open_Units</name>
        <label>Open Units</label>
        <locationX>792</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Associated_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Associated_Case__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Resident__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Vacant</stringValue>
            </value>
        </inputAssignments>
        <object>Unit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>528</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Update_Case_Participants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_for_Discharge__c</field>
            <value>
                <elementReference>Please_provide_a_reason_for_discharging_the</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Discharged</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Participants</name>
        <label>Update Case Participants</label>
        <locationX>528</locationX>
        <locationY>1406</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>CaseParticipant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Individual_Case_Participant</name>
        <label>Update Individual Case Participant</label>
        <locationX>528</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParticipantId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_a_member_to_discharge.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>CaseParticipant</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Placement_Records</name>
        <label>Update Placement Records</label>
        <locationX>792</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Open_Units</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>Discharge_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Move_out_reason__c</field>
            <value>
                <elementReference>Please_provide_a_reason_for_discharging_the</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Discharge</stringValue>
            </value>
        </inputAssignments>
        <object>Placement__c</object>
    </recordUpdates>
    <screens>
        <name>Discharge_Screen</name>
        <label>Discharge Screen</label>
        <locationX>528</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Individual_Discharge</targetReference>
        </connector>
        <fields>
            <name>DischargingParticipant</name>
            <fieldText>&lt;p&gt;Discharging Participant : &lt;strong&gt;{!FirstRecordName.Participant_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SizeOfCollection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Who_would_you_like_to_discharge</name>
            <choiceReferences>OneMember</choiceReferences>
            <choiceReferences>AllMembers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who would you like to discharge?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SizeOfCollection</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Choose_a_member_to_discharge</name>
            <choiceReferences>CaseParticipants</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Choose a member to discharge.</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Who_would_you_like_to_discharge</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>OneMember</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Please_provide_a_reason_for_discharging_the</name>
            <fieldText>Please provide a reason for discharging the participants.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Discharge_Date</name>
            <dataType>Date</dataType>
            <fieldText>Discharge Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Participants</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FirstRecordName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseParticipant</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SizeOfCollection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
