force-app/main/default/flows/Homelessness_Create_Disbursement_from_Funding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>If_Homelessness</name>
        <label>If Homelessness</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Homelessness_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Homelessness</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Disbursement</targetReference>
            </connector>
            <label>If Homelessness Record Type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Homelessness Create Disbursement from Funding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Homelessness Create Disbursement from Funding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Disbursement</name>
        <label>Create Disbursement</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disbursement_Type__c</field>
            <value>
                <elementReference>$Record.Type_of_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>outfunds__Amount__c</field>
            <value>
                <elementReference>$Record.outfunds__Requested_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>outfunds__Disbursement_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>outfunds__Funding_Request__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>outfunds__Scheduled_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>outfunds__Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>outfunds__Type__c</field>
            <value>
                <stringValue>Final</stringValue>
            </value>
        </inputAssignments>
        <object>outfunds__Disbursement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Homelessness</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <object>outfunds__Funding_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
